/node_modules
/public/hot
/public/storage
/public/breakdown
/public/temp
/public/image
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
server.js
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log